.rooms-container {
    width: 100%;
}

.availible-rooms {
    display: grid;
    grid-template-columns: repeat(6, 220px);
    grid-template-rows: repeat(auto-fill, 220px);
    margin-top: 20px;
    margin-left: 45px;
    list-style-type: none;
    gap: 65px;
    justify-content: center;
}

.room {
    border: 1px solid black;
    width: 220px;
    height: 220px;
    border-radius: 5px;
    position: relative;
}
.room .users-connected,
.room .numOfUsers {
    font-size: 18px;
    color: grey;
}
.room .roomName {
    text-align: center;
    padding-top: 30%;
}
.room .join-btn {
    position: absolute;
    bottom: 10px;
    left: 45px;
}
#add-room-btn {
    margin: 10px 0 0 15px;
}

#game-page {
    overflow-y: hidden;
}
.container {
    display: flex;
}

.leftside {
    width: 360px;
}
.room-name {
    font-weight: 900;
    font-size: 32px;
    padding: 10px 0 0 10px;
}
#quit-room-btn {
    width: 150px;
    margin: 10px 0 0 15px;
}
.user-list {
    margin: 60px 0 0 25px;
}
.user-list-ul {
    list-style-type: none;
}
.user-list-item {
    position: relative;
    margin: 20px 0;
}
.ready-status-red {
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 11px;
}
.ready-status-green {
    width: 15px;
    height: 15px;
    background: green;
    border-radius: 50%;
    position: absolute;
    top: 11px;
}
.username {
    padding: 7px 0 7px 20px;
}
.progress {
    width: 300px;
    height: 25px;
    background: #fff;
    border: 1px solid black;
    border-radius: 5px;
}
.user-progress {
    width: 0;
    height: 23px;
    background: #a3d200;
    border: 1px solid black;
    border-radius: 5px;
}

.rightside {
    width: 600px;
    height: 500px;
    background: #fff;
    border: 1px solid black;
    align-self: center;
    margin-left: 300px;
    margin-top: 200px;
    position: relative;
}
.timer {
    font-size: 75px;
    font-weight: 600;
}
.typed {
    background: #a3d200;
    color: white;
}
.next {
    text-decoration: underline;
}
.finished {
    background: #00ff00;
}
.game-timer {
    position: absolute;
    top: 0;
    right: 0;
}

.commentator-area {
    position: fixed;
    width: 400px;
    height: 250px;
    top: 150px;
    right: 100px;
}
i {
    font-size: 60px;
    position: absolute;
    top: 117px;
    left: 34px;
}
.words {
    width: 400px;
    position: absolute;
    top: -90px;
    right: 125px;
    height: 200px;
    border-radius: 50%;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.words::before {
    z-index: -11;
    content: '';
    width: 80px;
    height: 60px;
    background: grey;
    position: absolute;
    top: 136px;
    left: 195px;
    transform: rotate(70deg);
}
.words-text {
    font-size: 17px;
    width: 75%;
}
